<div class="animated fadeIn">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="input-group">
      <select
        class="form-control col-sm-2"
        id="filter"
        name="filter"
        ngModel>
        <option value="" disabled selected>Select your option</option>
        <option value="name">Nombre</option>
        <option value="event">Evento</option>
        <option value="story_arch">Arco argumental</option>
      </select>
      <input
        type="text"
        class="form-control"
        id="search"
        name="search"
        ngModel
        placeholder="Search term...">
      <button class="btn btn-square" type="submit">Search</button>
    </div>
  </form>
  <hr/>
  <div class="row">
    <ng-container *ngIf="!isEmpty;else no_result">
      <div class="col-md-3" *ngFor="let issue of issues; index as i">
        <div class="card">
          <img class="card-img-top"
               [ngClass]="{'no-collected': issue.collected == false}"
               [src]="issue.covers[0].coverImageUrl"
               [alt]="issue.name">
          <div class="card-body">
            <h5 class="card-title">{{ issue.name }}</h5>
            <p class="card-text">{{ issue.shortReview }}</p>
            <label class="switch switch-label switch-pill switch-success">
              <input type="checkbox" class="switch-input" [checked]="issue.collected"
                     (change)="addToCollection(issue.title.publisher.id, issue.title.id, issue.id, issue.covers[0].id, i)">
              <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
            </label>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #no_result><p>No hay resultados que coincidan con la busqueda</p></ng-template>
  </div>
</div>
