<div class="animated fadeIn">
  <a class="btn btn-success btn-lg btn-block" [routerLink]="['/search']">Add comic to collection</a>
  <br>
  <div class="card" *ngFor="let publisher of publishers">
    <div class="card-header">{{publisher.name}}</div>
    <div class="card-group">
      <div class="card" *ngFor="let title of publisher.titles">
          <img class="card-img-top" [src]="title.avatar" [alt]="title.name">
          <div class="card-body">
            <h5 class="card-title">{{title.name}}</h5>
            <a [routerLink]="['/' + publisher.vanity + '/' + title.vanity]"
               class="btn btn-primary">View details</a>
        </div>
      </div>
    </div>
  </div>
</div>
